
body {
  background-color: #080808;
  color: #333333;
}

.mcss a {
    color: #333333;
    text-decoration: none;
    background-image: none;
}

.title {
  color: #333333;
  font-family: Roboto Mono;
  font-size: 25px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  float: inherit;
  transition: 3s;
  transform: translate(0,0px);
  margin-top: 10%;
}

.wrap-out {
  text-align: center;
}

.wrap-in {
  display: inline-block;
  max-width: 100%;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.info {
  color: #333333;
  font-family: Roboto Mono;
  font-size: 18px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  float: inherit;
  transition: 1s ease;
  transform: translate(0,0px);
}

.textbox {
  width: 300px;
  background-color: #333;
  border-style: none;
  color: #999;
  height: 35px;
}

.button {
  width: 55px;
  background-color: #333;
  border-style: none;
  color: #999;
  height: 37px;
}

::selection {
  background-color: white;
  color: black;
}
::-moz-selection {
  background-color: white;
  color: black;
}

.title .info:hover {
  font-weight: bold;
}

.unselectable {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
