
body {
  background-color: #080808;
  color: #333333;
}

.title {
  color: #333333;
  font-family: Roboto Mono;
  font-size: 25px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  float: inherit;
  transition: 1s;
  transform: translate(0,0px);
}

.wrap-out {
  align-items: center;
  text-align: center;
  margin-top: 15%;
  float: none;
  max-width: 100%;
  width: 100%;
}

.wrap-in {
  display: inline-block;
  margin-top: 15%;
  max-width: 100%;
  width: 100%;
}

.info {
  color: #333333;
  font-family: Roboto Mono;
  font-size: 18px;
  width: 100%;
  text-decoration: none;
  text-align: center;
  float: inherit;
  transition: 1s;
  transform: translate(0,0px);
}

.textbox {
  width: 300px;
  background-color: #333;
  border-style: none;
  color: #999;
  height: 30px;
}

.button {
  width: 55px;
  background-color: #333;
  border-style: none;
  color: #999;
  height: 32px;
}

.buttonwrap {
  width: 40px;
  height: 30px;
}

::selection {
  background-color: white;
  color: black;
}
::-moz-selection {
  background-color: white;
  color: black;
}

.title .info:hover {
  font-weight: bold;
}
